/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    width: 100%;
    height: 100%;
    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
    -moz-box-pack:center;
    -moz-box-align:center;
    
    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    
    /* W3C */
    display:box;
    box-orient:horizontal;
    box-pack:center;
    box-align:center;
    background: #FFFFF7;
}


header {
    text-align: left;
    padding: 20px 0px 0px 0px;
    color: #3DA8A4;
}
.header1{
    display: block;
    width: 30%;
    border: 0;
    height: 3px;
    margin: 2px auto;
    background-image: -webkit-linear-gradient(left, rgba(121,204,190,0), rgba(121,204,190,0.20), rgba(121,204,190,0)); 
    background-image:    -moz-linear-gradient(left, rgba(121,204,190,0), rgba(121,204,190,0.20), rgba(121,204,190,0));
    background-image:     -ms-linear-gradient(left, rgba(121,204,190,0), rgba(121,204,190,0.20), rgba(121,204,190,0));
    background-image:      -o-linear-gradient(left, rgba(121,204,190,0), rgba(121,204,190,0.20), rgba(121,204,190,0));
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    color: #3DA8A4;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}
a{
    color: #BBBBBB;
    /*color: #666666;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
a:hover{
    text-decoration: none;
    color: #EEEEEE;
    /*color: #AAAAAA;*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}
.span3{
    text-align: center;
}
.span-under{

}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #FF99A1;
}
#container {
    width: 80%;
    margin: auto;
    
}
menu {
    padding: 0;
    margin: 0;

}


section {
    margin-bottom: 20px;
}

