/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  /*font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
body,section::before{
  width: 100%;
  background-image: url(../img/background001.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
nav{
  position: fixed;
  top: 10px;
  right: 20px;
}
nav>ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav>ul>li>a{
  margin: 20px;
  display: block;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 2px rgba(0, 0, 0, .1);
}
header {
/*  padding: 200px 0px 0px 0px;*/
  position: relative;
  margin: 300px auto;
  width: 100%;
  /*transform: translateY(-50%);*/
}
header>h1{
  /*font-family: 'Cutive Mono' ;*/
  font-style: normal;
  font-size: 60px;
  color: #FFF;
  text-align: center;
}
.title{
  text-align: center;
}
@media only screen and (max-width : 480px) {
.title {
 		  width:50%;
  	}
}
#star{
  position: fixed;
  /*transform: translateY(-20%);*/
  z-index: 1;
  width: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  /*font-family: 'Tenor Sans', sans-serif;
  color: #FF5879;
  font-size: 90px;
  vertical-align: -20px;
  text-shadow: 0px 0px 1px rgba(255,153,161, .1);
  text-shadow: 0 0 20px #FFFFFF,0 0 40px #FF5879, 0 0 60px #FFFFFF;*/
}
section {
  width: 100%;
  height: 450px;
  position: relative;
  border: solid 1px rgba(255, 255, 255, 0.1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}
section>div{
  margin: 30px auto;
  float: left;
  width: 50%;
  color: #fff;
  text-shadow: 0 1px 5px #000;
  text-align: center;
}
section::before{
  content: "";
  z-index: -1;
  -webkit-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#icon {
  width: 128px;
  margin: 15px;
}
p{

}
