/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 'Meiryo', 'メイリオ', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align:center;
  background: #fff;
  margin: 0 0 60px 0;
}
h1{
  width: 600px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 4em;
  margin: 30px auto;
  color: #555;
  text-shadow: 0px 0px 1px rgba(50,50,50, .5);
}
#hline{
  width: 90%;
  height: 3px;
  margin: 2px auto;
  background-image: -webkit-linear-gradient(left, rgba(27, 161, 226,0), rgba(27, 161, 226,100), rgba(27, 161, 226,0));
  background-image:    -moz-linear-gradient(left, rgba(27, 161, 226,0), rgba(27, 161, 226,100), rgba(27, 161, 226,0));
  background-image:     -ms-linear-gradient(left, rgba(27, 161, 226,0), rgba(27, 161, 226,100), rgba(27, 161, 226,0));
  background-image:      -o-linear-gradient(left, rgba(27, 161, 226,0), rgba(27, 161, 226,100), rgba(27, 161, 226,0));
}
footer{
  width: 100%;
  height: 30px;
  position: fixed !important;
  position: absolute;
  background: #1BA1E2;
  bottom: 0;
  margin: 0 auto;
  padding-top: 10px;
}
#twitter{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  text-decoration:none;
}
#all{
  width: 968px;
  height: 654px;
  text-align:center;
  margin: 0 auto;
    /* Firefox */
/*  display:-moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-align:center;*/

  /* Safari and Chrome */
/*  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-align:center;*/

  /* W3C */
/*  display:box;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;*/
  /*background: #FFFFF7;*/
}
.krile {
  float: left;
  width: 350px;
  height: 653px;
  background: #1BA1E2;
  padding: 1px;
  margin: 0px 5px;
  text-align: left;
}
#color-content{
  float: left;
  width: 300px;
  height: 653px;
  background: #FFFFFF;
  border: 1px solid;
  border-color: #1BA1E2;
  text-align: center;
}
#xml-area{
  float: left;
  width: 300px;
  height: 651px;
  background: #FFFFFF;
  border: 1px solid;
  padding: 1px;
  border-color: #1BA1E2;
  text-align: center;
}
#xml-output{
  width: 294px;
  height: 642px;
  background: #FFFFFF;
  border-color: #1BA1E2;
}
.colorwell{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align:right;
  border:0;
  padding:5px 10px;
  font-size:16px;
  border:solid 1px #ccc;
  margin:0 0 5px;
  width:100px;
  height: 20px;
}
ul#colorlist{
  list-style-type: none;
  padding:0px 0px 0px 0px;
  margin: 0px 20px 0px 0px;
}
li.item{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align:right;
  font-size:16px;
}
#picker{
padding-left: 50px;
margin-bottom: 20px;
}
#xml-submit{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  background-color: #1BA1E2;
  border: 2px solid #fff;
  color: #fff;
  margin: 5px 0px;
  width: 90%;
  height: 40px;
  text-align: center;
}
#xml-submit:hover {
  background-color: #fff;
  border-color: #1BA1E2;
  color: #1BA1E2;
  cursor:pointer;
}
.krile-content{
  width: 350px;
  height: 653px;
  background: #FFFFFF;
  border-color: #1BA1E2;
}
.titlebar{
  width: 350px;
  height: 30px;
  color: #FFFFFF;
  background: #1BA1E2;
}
div#krile{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  padding: 5px 0px 0px 30px;
}
#top{
  width: 350px;
  height: 85px;
  padding: 4px 0px;
  overflow: hidden;
}
#icon{
  float: left;
  width: 48px;
  height: 48px;
  background: #DDDDDD;
  margin: 0px 4px 0px 7px;
}
#write{
  float: left;
  width: 284px;
  height: 76px;
  margin: 0px 4px 0px 0px;
  border: 1px solid;
  border-color: #DDDDDD;
}
ul#tabbar{
  font-size: 14px;
  width: 350px;
  height: 30px;
  color: #E6E6E6;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li.tab{
  float: left;
  margin: 3px 0px 3px 9px;
}
li#focus-tab{
  color: rgba(51, 51, 51, 1);
}
li#select-tab{
  color: rgba(51, 51, 51, .7);
}
li#default-tab{
  color: rgba(51, 51, 51, .5);
}
#unread{
  font-size: 12px;
  color: #1BA1E2;
  vertical-align:5px;
}
.timeline{
  width: 350px;
  height: 90px;
  color: #000000;
  padding: 10px 0px 0px 0px;
  background: #1BA1E2;
  background-color: rgba(27, 161, 226, .1);
}
#default-tl{
  background: #000000;
  background-color: rgba(0, 0, 0, 0);
}
#myself-tl{
  background: #1BA1E2;
  background-color: rgba(27, 161, 226, .1);
}
#retweet-tl{
  background: #008A00;
  background-color: rgba(0, 138, 0, .1);
}
#mention-tl{
  background: #FA6800;
  background-color: rgba(250, 104, 0, .1);
}
#direct-tl{
  background: #A20025;
  background-color: rgba(162, 0, 37, .1);
}
.icon{
  float: left;
  width: 48px;
  height: 48px;
  background: #DDDDDD;
  margin: 0px 4px 30px 8px;
}
.user{
  float: left;
  width: 209px;
  height: 12px;
  margin: 0px 4px 6px 6px;
}
.sn{
  font-weight: bold;
  float: left;
  font-size: 12px;
  margin: 0px 6px 0px 1px;

}
#default-sn{
  opacity: 1;
  color: rgb(27, 161, 226);
}
#myself-sn{
  opacity: 1;
  color: rgb(27, 161, 226);
}
#retweet-sn{
  opacity: 1;
  color: rgb(0, 138, 0);
}
#mention-sn{
  opacity: 1;
  color: rgb(250, 104, 0);
}
#direct-sn{
  opacity: 1;
  color: rgb(162, 0, 37);
}
.name{
  float: left;
  font-size: 12px;
  color: rgba(51, 51, 51, .7);
}
.tweet{
  float: left;
  width: 280px;
  height: 30px;
  font-size: 12px;
  color: #000000;
  margin: 6px 4px 8px 6px;
}
.bottom{
  float: left;
  width: 250px;
  height: 20px;
}
.date{
  float: left;
  font-size: 10px;
  color: rgba(51, 51, 51, .7);
  margin: 0px 70px 0px 6px;
}
.marker{
  float: left;
  font-size: 16px;
  color: rgba(51, 51, 51, .5);
  margin: -5px 0px 0px 0px;
  text-shadow: 0px 0px 2px rgba(51, 51, 51, .3);
}
