$back_base: #F2DDDE;
$nav_base: #B195C4;
$nav_hover: #D1B9D6;
$nav_sub: #CC95C1;
$save_base: #92A8D1;
$nav_text: #eee;
$menu_font: 1.5rem;
$side_main_font: 1.5rem;
$side_sub_font:1.2rem;
$side_menu_font:#f69fc0;
$side_name_font:#e9b9fb;
$side_back:#463e4c;
$side_back_hover:#948c9a;
body{
  position: relative;
  user-select: none;
  overflow-x: hidden;
  background-color: $nav_text;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  margin: 0;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.name{
  width: 5em;
}
.name,.counter{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0px;
  text-align: center;
  list-style: none;
  font-size: $menu_font;
  // color: $nav_text;
  margin: 12px 10px;
  color: $side_menu_font;
}
.counter{
  width: 2em;
  text-align: center;
}
.container{
  display: table-cell;;
  position: relative;
  overflow: hidden;
  // margin: 0 auto;
  z-index: -1;
  float: left;
  // width: 100%;
  margin-left: 20rem;
  text-align: center;
}
.list{
  padding: 0px;
}

.list-menu{
  // display: table;
  display: table-cell;
  float: left;
}
.list-menu-item{
  padding: 5px 5px 5px 60px;
  color: $side_back;
  background-color: $side_back;
  text-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s linear;
  &:hover{
    cursor: pointer;
    // color: $side_back_hover;
    background-color: $side_back_hover;
    transition: all .3s;
  }
}
.return{
  transform-origin: right;
}
.next{
  transform-origin: left;
}
.return,.next{
  display: table-cell;
  vertical-align: middle;
  padding: 0px 10px 5px 10px;
  list-style: none;
  font-size: $menu_font;
  transition: transform 0.3s linear;
  text-decoration: none;
  &:hover{
    color: $side_menu_font;
    transform: scale(1.2);
  }
}
.drawer-nav.list-nav{
  background-color: $nav_base;
  z-index: 2;
}
.drawer-nav.list-menu{
  left: 0px;
  z-index: 1;
  // width: rem;
  -webkit-overflow-scrolling: touch;
  background-color: $side_back;
  box-shadow: 1px -1px 3px 3px rgba(0, 0, 0, 0.2);
  // padding-top: 60px;
  overflow: auto;
  // transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1);
  // -webkit-transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1);
  // transform: translate(0px, 0px) translateZ(0px);
}
.drawer-hamburger-icon{
  background-color: $side_menu_font;
  &:after,&:before{
    background-color: $side_menu_font;
  }
}
.drawer-brand{
  // text-align: center;
  font-size: $side_sub_font;
  color: $nav_text;
  background-color: $save_base;
  padding-left: 30px;
  &:hover{
    color: $save_base;
    background-color: $nav_text;
    box-sizing: border-box;
    transition: all .3s;
  }
}
.drawer-effect{
  width: 150px;
  height: 150px;

  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  background-color: $save_base;
}
.drawer-effect.is-show{
  animation: brand-menu-effect 0.75s ease-out;
}
/* アニメーションの定義 */
@keyframes brand-menu-effect{
    from {
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}
.drawer-menu-item{
  margin: 0;
  padding: 6px 24px;
  font-size: $side_main_font;
  line-height: 2em;
  color: $nav_text;
  background-color: $nav_base;
  transition: transform 0.3s linear;
  &:hover{
    color: $nav_text;
    background-color: $nav_hover;
    text-decoration: none;
    transition: all .3s;
  }
  &:focus{
    outline-style: none;
  }
}
.drawer-dropdown-menu-item{
  color: $nav_text;
  background-color: $nav_base;
  padding: 6px 10px 6px 48px ;
  font-size: $side_sub_font;
  line-height: 2em;
  transition: transform 0.3s linear;
  &:hover{
    color: $nav_text;
    background-color: $nav_hover;
    text-decoration: none;
    transition: all .3s;
  }
}
.brand-menu{
  display: block;
  color: $nav_text;
  text-decoration: none;
  &:hover{
    color: $save_base;
  }
}
.brand-menu-effect, .dropdown-menu-effect{
  overflow: hidden;
  position: relative;
}
.title{
  background-color: $nav_base;
  line-height: normal;
  padding-left: 0;
  &:hover{
    background-color: $nav_base;
  }
}
.toggle-margin{
  background-color: $side_back;
  margin-top: 60px;
  margin-bottom: 100px;
}
#twitterID{
  font-size: 1rem;
}
